<div class="maindiv">
    <h1>Mean Scores</h1>
    <table id="tableCSS">
        <tr>
          <th>Place</th>
          <th>Team</th>
          <th>Score</th>
        </tr>
        <tr  [className]="i == 0 ? 'scoringNumber' : ''" *ngFor="let item of meanScores; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.key }}</td>
          <td>{{ item.value }}</td>
        </tr>
    </table>

    <h1>Median Scores</h1>
    <table id="tableCSS">
        <tr>
          <th>Place</th>
          <th>Team</th>
          <th>Score</th>
        </tr>
        <tr [className]="i == 0 ? 'scoringNumber' : ''" *ngFor="let item of medianScores; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.key }}</td>
          <td>{{ item.value }}</td>
        </tr>
    </table>

    <h1>Max Scores</h1>
    <table id="tableCSS">
        <tr>
          <th>Place</th>
          <th>Team</th>
          <th>Score</th>
        </tr>
        <tr [className]="i == 0 ? 'scoringNumber' : ''" *ngFor="let item of maxScores; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.key }}</td>
          <td>{{ item.value }}</td>
        </tr>
    </table>


</div>